# Build directories
build/
build-*/
out/
bin/
obj/

# Vcpkg
vcpkg_installed/
.vcpkg/
vcpkg/

# Visual Studio & IDEs
.vs/
*.user
*.suo
*.db
*.opendb
.vscode/

# ImGui & Settings
imgui.ini

# Scratch / Debug files
*.log

# local resources folder
analysis/
dump/
CheatEngine/

# custom local
compile_commands.json

# prevent cache being uploaded
.cache/
__pycache__/

# archive folder
archive/

*test*